@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

body {
  background: linear-gradient(to right, #00b4db, #0083b0);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  position: absolute;
  text-align: center;
  background: #ffffff;
  width: 320px;
  height: auto;
  border-radius: 15px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: all 0.5s ease;
  overflow: hidden;
}

h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #0083b0;
  margin-bottom: 30px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  color: #00b4db;
  margin: 20px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #0083b0;
}

button.fb {
  border: none;
  background: #3b5998;
  width: 100%;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s linear;
}

.fb-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #3b5998;
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s linear;
  }
  .fb-btn:hover {
    background: #4267B2;
  }
  .fb-btn .icon {
    margin-right: 10px;
  }

button.fb:hover {
  background: #4267B2;
}

button.form-btn.sx,
button.form-btn.dx {
  margin: 10px;
  border-radius: 8px;
  border: transparent;
  padding: 14px;
  background-color: #0083b0;
  color: #ffffff;
  transition: all 0.3s linear;
}

button.form-btn.sx:hover,
button.form-btn.dx:hover {
  background-color: #00b4db;
}

button {
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid #0083b0;
  width: 85%;
  font-family: 'Roboto', sans-serif;
  color: #0083b0;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: #0083b0;
}

:-moz-placeholder {
  color: #0083b0;
}

::-moz-placeholder {
  color: #0083b0;
}

:-ms-input-placeholder {
  color: #0083b0;
}

.signIn,
.signUp {
  position: absolute;
  text-align: center;
  background: #ffffff;
  width: 320px;
  height: auto;
  border-radius: 15px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.signUp.active,
.signIn.active {
  transform: perspective(600px) rotateY(0deg);
  opacity: 1;
}

.signUp.inactive,
.signIn.inactive {
  transform: perspective(600px) rotateY(-90deg);
  opacity: 0;
}

.signIn.hidden,
.signUp.hidden {
  display: none;
}

.active {
  animation: slideIn 0.9s forwards;
}

.inactive {
  animation: slideOut 0.9s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes moveText {
    0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .create-account {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #0083b0;
    margin-bottom: 30px;
    animation: moveText 2s infinite; /* Apply the animation */
  }

  .create-account {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #0083b0;
    margin-bottom: 30px;
    animation: bounce 1s infinite alternate; /* Example animation */
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  .fb-icon {
    margin-right: 10px;
  }