*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styles.css */

/* Heart Animation */
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.heart {
    animation: heartBeat 1s infinite;
}

/* Sad Animation */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sad {
    animation: swing 1s infinite;
}

/* Emoji Animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.emoji {
    animation: float 1s infinite;
}
