*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .title {
    margin-bottom: 10px !important;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .summary > p {
    font-size: 14px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .section {
    margin-bottom: 30px;
  }

  .section h2 {
    margin-bottom: 10px;
    color: #555;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  .section-content {
    margin-left: 20px;
  }
  .exprience > p{
   font-size: 14px;
   font-weight: bolder;
   display: flex;
   justify-content: space-between;
  }

  .section-content ul {
    list-style-type: none;
    padding: 10px 0;
  }

  .section-content ul li {
    margin-bottom: 5px;
    position: relative;
    font-size: 14px;
  }

  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }

  .section-content ul li::before {
    content: "\2022"; 
    color: #777;
    font-size: 0.8em;
    position: absolute;
    left: -10px;
    top: 0;
  }

  .skills-content {
    display: flex;
    font-size: 14px;
    justify-content: start;
  }
  .certifcate-content {
    display: flex;
    font-size: 14px;
    justify-content: start;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .social > a {
    text-decoration: none;
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .section h2 {
      font-size: 18px;
    }
  
    .section-content {
      margin-left: 10px;
    }
  
    .summary > p {
      font-size: 12px;
    }
  
    .exprience > p {
      font-size: 12px;
    }
  
    .section-content ul li {
      font-size: 12px;
    }
  
    .skills-content {
      flex-wrap: 1;
      font-size: 12px;
    }
  
    .social {

    padding: 0 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    .container {
      margin: 0px ;
      
    }
  
    .social > a {
      display: block;
    }
  }